<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .error {
            color: red;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <p>
        Session: 
        <span data-th-text="${session.td}"></span>
    </p>
    <p>
        Acounts:
        <span data-th-text="${accounts}"></span>
    </p>
    <p>
        Details:
        <span data-th-text="${td}"></span>
    </p>
    <h1>Funds Transfer</h1>
    <form method="POST" action="/transfer" data-th-object="${td}">
        <p>
            <!-- https://www.baeldung.com/thymeleaf-select-option -->
            From account:
            <select name="from" data-th-field="${td.fromAccount}">
                <option data-th-each="acc: ${accounts}" 
                    data-th-value="${acc.name}" 
                    data-th-text="${acc.details}">
                </option>
            </select>
        </p>
        <p>
            To account:
            <select name="to" data-th-field="${td.toAccount}">
                <option data-th-each="acc: ${accounts}" 
                    data-th-value="${acc.name}" 
                    data-th-text="${acc.details}">
                </option>
            </select>
        </p>
        <p>
            Amount: 
            <input data-th-field="${td.amount}" 
                type="number" name="amount" min="0" value="0" step="0.1">
        </p>
        <p>
            Comments
            <input 
            type="text" name="comment" data-th-field="${td.comments}">
        </p>
        <button type="submit">Transfer</button>
        <p>Error Messages: </p>
        <p class="error">
            <ul data-th-each="e: ${errors}">
                <li data-th-text="${e}"></li>
            </ul>
        </p>

    </form>
</body>
</html>